.nav-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(144, 144, 226);
    color: white;
}

.link{
    padding-left: 10px;
    text-decoration: none;
    color: white;
}